<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msbox.api.dao.active.ActiveMapper">

	<!--resultMap type="Active" id="activeResultMap">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="pic" column="pic"/>
		<result property="category" column="category"/>
	</resultMap>

	<select id="getActive" resultMap="activeResultMap">
		<![CDATA[
            SELECT * from active a where a.merchant_id=#{merchant_id} and a.merchant_code=#{merchant_code}
        ]]>
	</select-->

</mapper>