<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msbox.api.dao.user.UserMapper">

	<!--resultMap type="com.msbox.api.model.User" id="userResultMap">
		<result property="Host" column="Host"/>
		<result property="User" column="User"/>
		<result property="Password" column="Password"/>
	</resultMap>

	<select id="selectOne" resultMap="userResultMap">
		<![CDATA[
            SELECT * from user where User='root'
        ]]>
	</select-->

</mapper>